@font-face {
    font-family: main;
    src: url(NexaText-Trial-Black.ttf);
}

@font-face {
    font-family: futureFont;
    src: url(ethnocentric.otf);
}

@keyframes spawnElement {
    0% {
        transform: scale(0%);
    }

    100% {
        transform: scale(100%);
    }
}

.title {
    font-family: futureFont;
}

h1 {
    text-align: center;
    font-size: 500%;
    margin-bottom: 2%;
}

input {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameInput {
    width: 20vw;
    height: 4vh;
}

.colorInput {
    width: 20vw;
    height: 5vh;
}

.boardElement {
    position: relative;
    animation: spawnElement 0.5s ease-in-out;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;

    width: 97%;
    height: 97%;

    border-style: solid;
    border-color: white;
    border-width: 2.5%;
    border-collapse: collapse;

    transition: background-color 0.2s ease-out;
}

.boardElement:hover {
    background-color: rgba(255, 255, 255, 0.255);
}

@media (min-width: 600px) {
    html {
        color-scheme: dark;
        font-family: main;
        overflow: hidden;
    }

    main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;

        width: 30vw;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .nameInput {
        font-size: 200%;
    }

    .flex {
        display: flex;
        width: 42vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    }
}

@media (max-width: 600px) {
    html {
        color-scheme: dark;
        font-family: main;
    }

    main {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;

        width: 80vw;
        height: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .nameInput {
        font-size: 100%;
    }

    #winText {
        position: relative;
        transform: scale(70%) translateY(-25vh);
    }

    .flex {
        display: flex;

        margin-left: auto;
        margin-right: auto;
        margin-top: 0%;
        margin-bottom: 0%;
    }
}


.play:hover {
    cursor: pointer;
}

.player {
    animation: spawnElement 0.5s ease-in-out;
    text-align: center;
    width: 100%;
    font-size: 150%;
    background-color: transparent;
}

.playerScore {
    margin-top: 0%;
    text-align: center;
    width: 100%;
    font-size: 150%;
}

.expandButton {
    margin-top: 3%;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-transform: uppercase;
    font-size: 400%;
    cursor: pointer;
    position: relative;
}

.expandButton:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.expandButton:hover:after {
    transform: scaleX(1);
}